/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
.coin-slider {
	padding:0;
	overflow:hidden;
	zoom:1;
	position:relative;
	float:right;
}

/* buttons for switching */
.cs-buttons {
	margin:-38px 0 0;
	padding:0;
	font-size:0;
	float:left;
}
.cs-buttons a {
	margin:0 2px;
	width:20px;
	height:20px;
	float:left;
	color:#fff;
	text-indent:-10000px;
	background:url(../images/slide_p.png) no-repeat center center;
}
.cs-buttons a.cs-active {
	color:#fff;
	background-image:url(../images/slide_a.png);
}

